configuration {
    font: "FiraCode Nerd Font 12";
    width: 30;
    line-margin: 10;
    lines: 6;
    columns: 1;

    display-ssh:    "";
    display-run:    "";
    display-drun:   "";
    display-window: "";
    display-combi:  "";
    show-icons:     true;
}


@theme "~/.config/rofi/nord.rasi"
